# Dependencies
node_modules

# Build outputs
dist
build

# Git
.git
.gitignore

# Environment files
.env
.env.*

# IDE
.idea
.vscode

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Test files
coverage

# Docker files
Dockerfile*
.dockerignore
