# Dependencies
node_modules

# Git
.git
.gitignore

# Environment files
.env
.env.*

# IDE
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Test files
coverage
__tests__

# Docker files
Dockerfile*
.dockerignore
